footer {
  background-color: $background-color-light;
}

.footer__header {
  border-bottom: 1px solid $border-dark;
  padding: 30px 0;

  @include iconSocial(1.6rem);
  @extend %form-register-style;

  @media (max-width: 1023px) {
    padding: 40px 0;
  }

  .footer__title {
    color: $text-light;
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

.footer__logo-wrap {
  position: relative;

  @include logoPage(70%);
}

.footer__logo-body {
  color: $text-color-footer;
  font-size: 1.2rem;

  .footer__description {
    margin-bottom: 20px;
  }

  .footer__contact-list {
    list-style: none;

    .footer__contact-item {
      padding-bottom: 18px;

      i {
        color: $primary-color;
        font-size: 1.4rem;
        text-align: center;
        width: 24px;
      }

      span {
        padding-left: 4px;
      }

      .contact__link {
        color: $text-color-footer;
        padding-left: 4px;
      }
    }
  }
}

.footer__body-title {
  color: $primary-color;
  font-size: 1.4rem;
  margin: {
    bottom: 34px;
    top: 46px;
  }
}

.footer__list {
  list-style: none;

  .footer__item {
    @include display-flex('', '', '');

    i {
      color: $text-color-footer;
      font-size: 1.4rem;
      height: 14px;
      margin-top: 1px;
      width: 14px;
    }

    &:hover {
      opacity: 0.8;
    }

    .footer__item-link {
      color: $text-color-footer;
      display: block;
      font-size: 1.2rem;
      margin-bottom: 24px;
    }
  }
}

.footer__other {
  margin-top: 34px;
  padding-bottom: 34px;

  @media (min-width: 768px) {
    border-top: 1px solid $border-dark;
  }

  .other__wrap {
    margin-left: 14px;
    width: 92%;

    @include display-flex('', space-between, '');
  }

  .other__list {
    list-style: none;
    padding-top: 28px;

    @include display-flex('', '', '');

    .other__item {
      &-link {
        color: $white-color;
        font-size: 1.2rem;
        padding: 0 12px;

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}

.copy-right {
  background-color: $dark-light;
  color: $white-color;
  font-size: 1.2rem;
  padding: 12px 0;
  text-align: center;

  a {
    color: $white-color;
    padding-left: 2px;
  }
}
