// Navbar Sub
.navbar__sub {
  background-color: $background-color-dark;
  color: $text-light;
  line-height: 32px;
  position: relative;
  z-index: 1;

  .subnav__left {
    i {
      margin: 0 4px 0 0;
    }

    span {
      margin-right: 32px;
    }

    @include iconSocial(1.2rem, $border: true);
  }

  .subnav__right-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;

    .subnav__right-item {
      border-right: 1px solid $border-color;
      border-left: 1px solid $border-color;
      padding: 0 14px;

      a {
        color: $text-light;
        height: 100%;

        i {
          padding-right: 4px;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.header {
  background-color: $white-color;
  display: inline-flex;
  flex-direction: row;
  height: $height-header;
  position: relative;
  width: 100%;

  &__logo {
    @include logoPage(70%);

    .logo__img {
      height: 100%;
      position: relative;

      &-first {
        @include logoImg(30%, -10px, 1);
      }

      &-second {
        @include logoImg(-18%, 60px, 0);
      }
    }
  }

  .header__contact {
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 20px;

    .header__icon-phone {
      margin-right: 4px;
    }

    .contact__title {
      margin-right: 8px;
    }

    .contact__link--tel {
      color: $text-color;
    }
  }

  .form-search {
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    margin-bottom: 30px;

    .form-control {
      border: none;
      width: 50%;

      &:focus {
        outline: none;
      }
    }

    .contact__separate {
      background-color: $color-separate;
      height: 32px;
      width: 1px;
    }

    .icon__search {
      padding: 14px;
    }

    .qnt {
      margin-left: 20px;
      margin-right: 4px;
    }
  }
}

.navbar {
  background-color: $primary-color;
  color: $white-color;
  display: flex;
  text-transform: uppercase;
  position: relative;
  z-index: 1;

  .navbar__icon {
    cursor: pointer;
    font-size: 1.8rem;
    height: 100%;
    padding: 16px 12px;
    width: 16px;

    &:hover {
      opacity: 0.8;
    }
  }

  .navbar__list {
    display: inline-flex;
    font-size: 1.4rem;

    list-style: none;

    .navbar__item {
      align-items: center;
      display: flex;
      position: relative;

      &:hover .navbar__product-list {
        display: block;
      }
    }

    .navbar__link {
      cursor: pointer;
      color: $white-color;
      padding: 20px;

      &:hover {
        background-color: $color-green-dark;
      }
    }

    .icon__subnav {
      margin-left: 8px;
    }

    .navbar__product-list {
      background-color: $primary-color;
      display: none;
      position: absolute;
      height: auto;
      left: 0px;
      list-style: none;
      top: 60px;
      width: 130px;

      .navbar__product-item {
        cursor: pointer;
        padding: 12px;

        &:not(:last-child) {
          border-bottom: 1px solid $white-color;
        }

        &:hover {
          background-color: #06a749;
        }
      }

      &::after {
        background-color: transparent;
        content: '';
        position: absolute;
        height: 30px;
        left: 0;
        top: -28px;
        width: 100%;
      }
    }
  }

  .navbar__icon--mobile {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;

    i {
      font-size: 1.8rem;
      height: 16px;
      padding: 0 16px;
      width: 16px;
    }
  }
}
