extends ../layouts/main

block container

    each item in listProduct
        +breadcrumbs({'Giỏ hàng': '#' })

    .grid.wide
        .row 
            .col.l-12
                section.cart
                    table#t01.cart__table
                        caption.cart__caption Giỏ hàng
                        thead
                            tr
                                th(scope='col') Hình ảnh
                                th(scope='col') Tên sản phẩm
                                th(scope='col') Đơn giá
                                th(scope='col') Số lượng
                                th(scope='col') Thành tiền
                                th(scope='col') Xóa
                        tbody

                    .cart__btn 
                        button.btn.btn--cancel(type="submit") Hủy đơn hàng 
                        a.btn.btn--success(href="./products.html") Tiếp tục mua
                    
                    table#t02
                        tbody
                            tr
                                th Tổng tiền(Chưa thuế)
                                td(data-label="Tổng tiền(Chưa thuế)") 270.000 đ
                            tr
                                th Thuế (Vat 10%)
                                td(data-label="Thuế (Vat 10%)") 27.000 đ
                        tfoot
                            tr
                                th Tổng phải thanh toán
                                td(data-label="Tổng phải thanh toán") 297.000 đ
                    
                    .cart__btn
                        button.btn.btn--success.btn--pay(type="submit") Thanh toán
        
        #toast
        script(type="module" src='./assets/js/handleCart.js')
