extends ../layouts/main

block container

    include ../components/sidebar.pug

    +breadcrumbs({'Danh sách sản phẩm': '/product.html'})

    .grid.wide 
        .row.product
            .col.l-3.m-4.c-0
                section.sidebar
                    +product-list
                    +price-list
                    +color-list

            .col.l-9.m-8
                .row
                    .col.l-12.m-12.c-12
                        .product__banner
                            +banner('./assets/img/banner-2.png', 'Banner Book')

                .product__header-wrap
                    .product__header-layout
                        label(for='grid-layout')
                            i.fas.fa-th.icon.icon__layout.icon--active
                        label(for='list-layout')
                            i.fas.fa-th-list.icon.icon__layout.layout-list

                    .product__header-sort-wrap
                        .product__header-sort
                            p.title__sort Sắp xếp theo 
                            select#sort-category(name='Sort Category')
                                option(disabled selected value) Tên sản phẩm
                                option(value='price') Giá
                                option(value='name') Tên
                                option(value='evaluation') Đánh giá

                        .product__header-sort
                            p.title__sort Hiển thị
                            select#show__item(name='Show Items')
                                option(value='all',selected) All
                                option(value='5') 5
                                option(value='10') 10
                                option(value='15') 15
                                option(value='20') 20

                input.input__radio--layout(id= 'list-layout', type="radio", name="layout")
                .product-grid
                    .row
                        //- each product in products
                        //-     .col.l-4.m-6.c-12
                        //-         +productDisplay(product.urlImg,product.type ,product.name, product.star,product.priceSale,product.priceCurrent)

                input.input__radio--layout(id= 'grid-layout', type="radio", name="layout" checked)
                .product-list
                    .row
                        //- each product in products
                        //-     .col.l-12.m-12.c-12
                        //-         +productDisplay(product.urlImg,product.type ,product.name, product.star,product.priceSale,product.priceCurrent, product.dsc,product._id)
                
                .pagination__wrap
                    button.btn.btn--paginate.btn__prev Trang trước
                    ul.pagination
                    button.btn.btn--paginate.btn__next Trang sau
        
        .row
            .col.l-0.m-0.c-12   
                input#sidebar__mobile-input.sidebar__input(type='checkbox' name='' hidden='')
                label.sidebar__overlay(for='sidebar__mobile-input')
                
                nav.sidebar__mobile
                    label.sidebar__mobile-btn--close(for="sidebar__mobile-input")
                        i.fas.fa-times
                    
                    .sidebar__wrap-item
                        input#sidebar__mobile-input.sidebar__input-radio(type='radio')
                        label.sidebar__mobile-title(for='sidebar__mobile-input') Danh mục sản phẩm
                        
                        ul.category__list
                            each item in productList
                                li.category__item
                                    input(id= item.name, type="radio", name="product-category", value= item.name)
                                    label.category__item-title(for=item.name)
                                        i.fas.fa-angle-right
                                        span.category__item-name= item.name
                                        span.category__item-qnt= `( ${item.qnt} )`
                        
        .filter__product
            label.filter__product-label(for="sidebar__mobile-input")
                i.fas.fa-filter.icon.filter__product-icon

    
    script(type="module" src='./assets/js/showProducts.js')
    script(src='./assets/js/addToCart.js')
