+breadcrumbs('Danh sách sản phẩm', 'product')

.grid.wide 
    .row
        .col.l-3.m-4.c-0
            section.sidebar
                include ../components/sidebar.pug

        .col.l-9.m-8
            .row
                .col.l-12.m-12.c-12
                    .product__banner
                        +banner('./assets/img/banner-2.png', 'Banner Book')

            .product__header-wrap
                .product__header-layout
                    label(for='grid-layout')
                        i.fas.fa-th.icon__layout
                    label(for='list-layout')
                        i.fas.fa-th-list.icon__layout

                .product__header-sort-wrap
                    .product__header-sort
                        p.title__sort Sắp xếp theo 
                        select#sort-category(name='Sort Category')
                            option(disabled selected value) Tên sản phẩm
                            option(value='tree') Cây
                            option(value='flower') Hoa
                            option(value='fruit') Quả

                    .product__header-sort
                        p.title__sort Hiển thị
                        select#show__item(name='Show Items')
                            option(value='all',selected) All
                            option(value='5') 5
                            option(value='10') 10
                            option(value='15') 15
                            option(value='20') 20

            input(id= 'list-layout', type="radio", name="layout")
            .product-grid
                .row
                    each product in products
                        .col.l-4.m-6.c-12
                            +productDisplay(product.urlImg,product.type ,product.name, product.star,product.priceSale,product.priceCurrent)

            input(id= 'grid-layout', type="radio", name="layout" checked)
            .product-list
                .row
                    each product in products
                        .col.l-12.m-12.c-12
                            +productDisplay(product.urlImg,product.type ,product.name, product.star,product.priceSale,product.priceCurrent, product.dsc,product._id)

            .row
                ul.page__number
                    each page in pageNumber
                        li
                            input(id= page._id, type="radio", name="page")
                            label(for= page._id)= page.name
