.btn {
  border: none;
  border-radius: 9999px;
  background-color: $primary-color;
  color: $white-color;
  cursor: pointer;
  opacity: 0.9;
  padding: 12px 32px;
  text-transform: uppercase;

  &:hover {
    opacity: 1;
  }
}
