@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

.carousel {
  position: relative;

  @include display-none-input(radio);

  .slider {
    min-width: 100%;
    overflow: hidden;

    @include display-flex(row, '', '');

    .slider-item {
      background: url('../img/slide/slide.png') no-repeat center / cover;
      height: 400px;
      min-width: 100%;
      position: relative;

      @include prefix(
        transition,
        all 800ms cubic-bezier(0.77, 0, 0.175, 1),
        moz webkit o
      );
    }
  }

  .text-content {
    bottom: 0;
    color: $white-color;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    text: {
      shadow: 0 5px 3px $background-transparent;
      transform: uppercase;
    }

    @include display-flex(column, center, center);

    .text-heading_sub {
      font-size: 3rem;
    }

    .text-heading {
      font: {
        family: 'Roboto Slab', serif;
        size: 6rem;
      }
    }

    .text-description {
      font: {
        style: italic;
        size: 1.6rem;
      }
      text-transform: none;
    }
    @include media-tablet {
      .text-heading,
      .text-description {
        display: none;
      }
    }
    @include media-mobile {
      .text-heading,
      .text-description {
        display: none;
      }
    }
  }

  .carousel__control {
    bottom: 32px;
    left: 50%;
    position: absolute;

    @include prefix(transform, translateX(-50%), ms moz webkit o);
    z-index: 1;

    label {
      border-radius: 9999px;
      background: $white-color;
      cursor: pointer;
      display: inline-block;
      height: 16px;
      margin: 0 4px;
      width: 16px;
    }
  }
}

// Control Slider
#left:checked {
  & ~ .slider .slider-item {
    @include prefix(transform, translateX(0%), ms moz webkit o);
  }
}

#center:checked {
  & ~ .slider .slider-item {
    @include prefix(transform, translateX(-100%), ms moz webkit o);
  }
}

#right:checked {
  & ~ .slider .slider-item {
    @include prefix(transform, translateX(-200%), ms moz webkit o);
  }
}

#left:checked ~ .carousel__control label:nth-child(1),
#center:checked ~ .carousel__control label:nth-child(2),
#right:checked ~ .carousel__control label:nth-child(3) {
  background: $primary-color;
}

// Slide product
.product__slide-control {
  overflow: hidden;

  @include display-none-input(radio);
}

.slider-product {
  @include prefix(
    transition,
    all 800ms cubic-bezier(0.77, 0, 0.175, 1),
    moz webkit o
  );

  .overflow {
    .inner__content {
      @include display-flex('', '', '');
    }
  }
}

// Control Slider Product
$number-slide: 10;

@for $i from 1 through $number-slide {
  @if $i % 2 == 0 {
    #slide#{$i}:checked ~ .slider-product {
      @include prefix(transform, translateX(-100%), ms moz webkit o);
    }
  } @else {
    #slide#{$i}:checked ~ .slider-product {
      @include prefix(transform, translateX(0%), ms moz webkit o);
    }
  }
}
