.form__header {
  color: $primary-color;
  font-size: 2rem;
  text-transform: uppercase;

  @include media-tablet {
    margin-top: 16px;
  }

  @include media-mobile {
    margin-top: 16px;
  }
}

.form__group {
  font-size: 1.4rem;

  @include display-flex(column, '', '');

  label {
    margin-top: 24px;
  }

  .form__control {
    border: 1px solid $color-border;
    margin: {
      bottom: 12px;
      top: 4px;
    }
    padding: 10px;

    &:focus {
      border-color: $primary-color;
      outline: none;
    }
  }

  .input-checkbox {
    margin: auto;
    outline: none;
  }
}

.input-textarea {
  font-size: 1.2rem;
  min-height: 120px;
  padding: 0.625rem;
  resize: vertical;
  width: 100%;

  &:focus {
    border-color: $primary-color;
    outline: none;
  }
}
