#close {
  display: none;

  &:checked ~ .modal {
    @include prefix(
      animation,
      scale-down-center 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards,
      moz webkit
    );
  }

  &:checked ~ .modal__overlay {
    display: none;
  }
}

.modal {
  will-change: opacity, transform;
  z-index: 2;

  @extend %full-screen-abs;
  @include display-flex('', '', '');

  @include prefix(
    animation,
    scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) forwards,
    moz webkit
  );

  @include media-mobile {
    display: none;

    .modal__overlay {
      display: none;
    }
  }

  .modal__overlay {
    background-color: $background-transparent;

    @extend %full-screen-abs;
  }

  .modal__body {
    background-color: $background-modal;
    margin: auto;
    position: relative;
    z-index: 1;

    .modal__inner {
      @include display-flex(row, '', '');

      padding: 80px 30px 48px 18px;

      .modal__inner-img {
        margin-right: 16px;
      }
    }
  }

  .modal__inner-content {
    @extend %form-register-style;

    .modal__content-sub {
      color: $text-color;
      font: {
        size: 2.4rem;
        weight: 100;
      }
    }

    .modal__content-header {
      color: $primary-color;
      font-size: 2.6rem;
      margin-bottom: 18px;
      text-transform: uppercase;
    }

    .modal__content-dsc {
      font-size: 1.4rem;
      margin: {
        top: 16px;
        bottom: 40px;
      }
    }

    .form__submit {
      @include display-flex('', '', '');

      .form__control {
        width: 100%;
      }
    }

    .modal__notify {
      @include display-flex(row, '', center);

      input[type='checkbox'] {
        width: 16px;
        height: 16px;
        cursor: pointer;
      }

      .modal__notify-label {
        cursor: pointer;
        margin-left: 6px;

        @extend %display-inline-flex;
        @include prefix(user-select, none, ms webkit moz);
      }
    }
  }
}
