.news_wrap {
  box-shadow: 0 5.4px 3.7px rgba(0, 0, 0, 0.051),
    0 9.1px 13.4px rgba(0, 0, 0, 0.079), 0 21px 40px rgba(0, 0, 0, 0.14);

  margin: {
    top: 38px;
    bottom: 76px;
  }

  @extend %animation-zoom;

  .home__news-img {
    display: block;
    height: 184px;
    overflow: hidden;

    img {
      width: 100%;

      @include prefix(
        transition,
        all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s,
        moz webkit o
      );
    }
  }

  .news__body {
    font-size: 1.2rem;
    line-height: 1.4;
    padding: {
      bottom: 12px;
      left: 12px;
      right: 12px;
    }

    time {
      display: inline-block;
      font-style: italic;
      margin-top: 12px;
    }

    .news__body--header {
      color: $primary-color;
      font-size: 1.4rem;
      margin: 12px 0;
    }

    .news__body--dsc {
      margin-bottom: 10px;
    }

    .read__more {
      color: $primary-color;
      padding: 12px 0;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
