.pagination__wrap {
    display: flex;
    flex-direction: row;
    margin: {
        top: 20px;
        bottom: 20px;
    }
    .pagination {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        .pagination-number {
            margin: {
                bottom: 10px;
                top: 10px;
                left: 10px;
            }
        }
    }
    .btn__next {
        margin-left: 10px;
    }
}
