.page__number {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin: {
    bottom: 44px;
    right: 14px;
    top: 44px;
  }
  width: 100%;

  @include display-flex(row, flex-end, '');
  @include display-none-input(radio);

  li {
    list-style: none;
  }

  li + li {
    margin-left: 16px;

    @include media-tablet {
      margin-left: 10px;
    }
  }

  input:checked ~ label {
    background-color: $primary-color !important;
    color: $white-color !important;
  }

  label {
    border: 1px solid $color-separate;
    display: block;
    font-size: 1.6rem;
    margin-bottom: 6px;
    padding: 14px 18px;

    @extend %feeling-click;
  }
}
