.category__list {
  list-style: none;

  @include textStyle(1.4rem, 1.6);

  .category__item {
    align-items: center;
    border-bottom: 1px solid $color-separate;
    display: flex;
    padding: 12px 0;

    input:checked ~ label {
      color: $primary-color !important;
    }

    .category__item-title {
      align-items: center;
      display: flex;
    }

    i {
      font-size: 1.4rem;
      height: 14px;
      width: 14px;
    }

    .category__item-color {
      border-radius: 9999px;
      background-color: var(--tooltip-data);
      height: 28px;
      margin-right: 8px;
      width: 28px;
    }

    .category__item-name {
      cursor: pointer;
    }

    .category__item-qnt {
      margin-left: 4px;
    }

    .new__feed-wrap {
      .new__feed-img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 2px solid $color-separate;
        cursor: pointer;
        height: 80px;
        transition: all ease-in-out 0.3s;
        width: 80px;
      }
    }

    .new__feed-title {
      color: $text-color;
      margin-left: 12px;

      &:hover {
        color: $primary-color;
      }
    }

    &:hover .new__feed-img {
      transform: scale(1.1);
    }
  }
}

input[type='radio'] {
  display: none;
}

.blog-tag {
  .category__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .category__item {
      border-bottom: none;
      padding: 0;

      .category__item-title {
        border: 1px solid $color-border;
        margin: 8px;
        padding: 8px 12px;
      }

      input:checked ~ label {
        background-color: $primary-color;
        color: $white-color !important;
      }
    }
  }
}
