// Base
@import 'base/global';
@import 'base/mixins';
@import 'base/grid_lib';
@import 'base/function';
@import 'base/variables';
@import 'base/placeholders';
@import 'base/animation';

// Components
@import 'components/carousel';
@import 'components/banner';
@import 'components/modal';
@import 'components/breadcrumbs';
@import 'components/product';
@import 'components/news';
@import 'components/sidebar';
@import 'components/button';
@import 'components/form';
@import 'components/icon';
@import 'components/title';
@import 'components/scroll-top';
@import 'components/add-to-cart';
@import 'components/page-number';
@import 'components/btn-share';

// Page
@import 'pages/cart';
@import 'pages/news';
@import 'pages/home';
@import 'pages/login';
@import 'pages/contact';
@import 'pages/product';
@import 'pages/register';
@import 'pages/news-detail';
@import 'pages/products-detail';

// Partials
@import 'partials/header';
@import 'partials/footer';
