.cart {
  font-size: 1.4rem;
  margin-bottom: 24px;
  text-transform: uppercase;

  th,
  td {
    border: 1px solid $color-separate;
    text-align: center;
  }

  @include tableMobile($primary-color);

  .cart__table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

    .cart__caption {
      color: $primary-color;
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 30px;
      text-align: start;
      padding-top: 4px;

      @include media-mobile {
        font-size: 2rem;
        text-align: center;
      }
    }

    thead {
      tr {
        color: $white-color;
        background-color: $primary-color;
        height: 48px;
        letter-spacing: 0.5px;
      }

      @include media-mobile {
        display: none;
      }
    }

    tbody {
      .cart__body-img {
        height: 150px;
        width: 150px;

        @include media-mobile {
          border-top: 3px solid $border-dark;
          width: 100%;
        }

        .cart__img {
          width: 100%;
        }
      }

      .cart__name {
        color: $primary-color;
      }

      #input-qnt {
        border: none;
        padding: 14px 0px;
        text-align: center;
      }

      th {
        padding: 14px;
      }

      .cart__icon--trash {
        cursor: pointer;
        height: 24px;
        width: 24px;
      }
      .btn {
        @include btn(30px, 30px);
      }
    }
  }

  .cart__btn {
    clear: both;
    margin: 40px 0;
    text-align: end;

    .btn {
      border-radius: 9999px;
      cursor: pointer;
      padding: 12px 20px;
      text-transform: uppercase;

      @extend %display-blur;
    }

    .btn--cancel {
      border: 1px solid $primary-color;
      background-color: $white-color;
    }

    .btn--continue {
      border: none;
      background-color: $primary-color;
      color: $white-color;
    }
  }

  #t02 {
    border-collapse: collapse;
    color: $primary-color;
    float: right;
    margin-bottom: 18px;
    width: 50%;

    @include media-mobile {
      width: 100%;
    }

    td {
      padding: 14px;
    }

    @include tableMobile($text-color);

    @include media-mobile {
      th {
        display: none;
      }
    }

    tfoot {
      tr {
        background-color: $primary-color;
        color: $white-color;
      }
    }
  }
}
