.contact {
  .register__header {
    margin-top: 30px;
  }

  .map__img {
    background: url('../img/contact.png') no-repeat center/ cover;
    height: 490px;
    margin-top: 30px;
    width: 100%;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 6px;
  }

  .contact__logo-wrap {
    position: relative;

    @include logoPage(70%);
  }
}
