.product__header {
  position: relative;

  @include controlCarousel;
}

.product__header--hidden {
  & > .control-slide {
    @include media-laptop {
      display: none !important;
    }

    @include media-tablet {
      display: none !important;
    }
  }
}

.products__buy-a-lot {
  .product .product__body {
    .product__star {
      @include display-flex('', flex-start, '');
    }

    .product__name {
      text-align: left;
    }
  }
}

.products {
  .banner__home {
    @include media-tablet {
      margin-top: 50px;
    }
  }

  .products__sale {
    @include media-small-tablet {
      margin-bottom: 32px;
    }

    @include media-mobile {
      margin-bottom: 32px;
    }
  }
}

.news {
  @include media-tablet {
    margin-bottom: 16px;

    .news__wrap {
      @include media-tablet {
        height: 386px;
      }
    }
  }

  @include media-small-tablet {
    margin-bottom: 32px;
  }

  @include media-mobile {
    margin-bottom: 32px;
  }
}

@include media-small-mobile {
  .products__small-mobile {
    .product__price-current {
      display: none;
    }
  }
}
