.product__header {
  position: relative;
  @include controlCarousel('mobile');
}

.products__title {
  display: inline-block;
  margin-top: 34px;
  padding-bottom: 12px;
  border-bottom: 3px solid $primary-color;

  color: $primary-color;
  font-size: 1.8rem;
}

.separate {
  width: 100%;
  height: 1px;
  margin-bottom: 14px;
  background-color: $color-separate;
}

// Control Slider
$number-slide: 10;

@for $i from 1 through $number-slide {
  @if $i % 2 == 0 {
    #slide#{$i}:checked ~ .slider-mobile {
      transform: translateX(-100%);
    }
  } @else {
    #slide#{$i}:checked ~ .slider-mobile {
      transform: translateX(0%);
    }
  }
}
