.login {
  margin-bottom: 30px;
}

.login__other {
  margin: {
    top: 20px;
    bottom: 48px;
  }

  @include display-flex(row, '', center);

  label {
    @include prefix(user-select, none, ms webkit moz);
  }

  .login__forget {
    color: $text-color;
    font-style: italic;
    margin-left: 32px;
    text-decoration: underline $gray-color solid !important ;
  }
}

.login__content {
  margin: {
    top: 16px;
    bottom: 24px;
  }

  font-size: 1.4rem;
  text-align: justify;
}
