.news {
  .cmt {
    a {
      color: $primary-color;

      span {
        color: $text-color;
      }
    }
  }
}

.news__detail-cmt {
  padding: 40px 0;

  .news__title {
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  .cmt__wrap {
    border-bottom: 1px solid $color-separate;
    padding: 20px 0;

    @include display-flex(row, '', '');

    &[data-answer='true'] {
      margin-left: 90px;

      @include media-mobile {
        margin-left: 18px;
      }
    }
  }

  .cmt__img-wrap {
    .cmt__img {
      background: {
        size: cover;
        repeat: no-repeat;
        position: center left -54px;
      }
      border-radius: 9999px;
      height: 80px;
      width: 80px;
    }
  }

  .cmt__body {
    font-size: 1.3rem;
    margin-left: 20px;
    line-height: 1.6;
  }

  .cmt__header {
    @include display-flex(row, space-between, '');

    .cmt__username {
      font-weight: 400;
      font-size: 1.6rem;
    }

    .cmt__replace {
      cursor: pointer;
      font-style: italic;
      position: relative;
      text: {
        decoration: underline;
        decoration-color: $text-color-footer;
      }

      &:hover:after {
        border: 1px solid $primary-color;
        border-radius: 4px;
        content: attr(data-username);
        font-size: 0.8rem;
        position: absolute;
        right: -40px;
        width: 100%;
      }
    }
  }

  .cmt__content {
    font-weight: 300;
    margin: 4px 0;
  }

  .cmt__daytime {
    font: {
      style: italic;
      weight: 200;
    }
  }
}

.form__cmt-wrap {
  .news__title {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}
