.news__detail-cmt {
  padding: 40px 0;

  .news__title {
    text-transform: uppercase;

    @include textStyle(1.6rem, 1.6);
  }

  .cmt__wrap {
    display: flex;
    border-bottom: 1px solid $color-separate;
    flex-direction: row;
    padding: 20px 0;

    &[data-answer='true'] {
      margin-left: 90px;

      @include media-mobile {
        margin-left: 18px;
      }
    }
  }

  .cmt__img-wrap {
    .cmt__img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center left -54px;
      border-radius: 9999px;
      height: 80px;
      width: 80px;
    }
  }

  .cmt__body {
    line-height: 1.6;
    margin-left: 20px;
    font-size: 1.3rem;
  }

  .cmt__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .cmt__username {
      font-weight: 400;
      font-size: 1.6rem;
    }

    .cmt__replace {
      cursor: pointer;
      font-style: italic;
      position: relative;
      text-decoration: underline;
      text-decoration-color: $text-color-footer;

      &:hover:after {
        content: attr(data-username);
        border: 1px solid $primary-color;
        border-radius: 4px;
        font-size: 0.8rem;
        right: -40px;
        position: absolute;
        width: 100%;
      }
    }
  }

  .cmt__content {
    font-weight: 300;
    margin: 4px 0;
  }

  .cmt__daytime {
    font-style: italic;
    font-weight: 200;
  }
}

.form__cmt-wrap {
  .news__title {
    text-transform: uppercase;

    @include textStyle(1.6rem, 1.6);
  }

  .form__cmt {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .form__cmt-info {
      display: flex;
      gap: 30px;

      @include media-mobile {
        flex-direction: column;
      }
    }

    .form__control {
      font-size: 1.4rem;
      padding: 12px;
      width: 100%;
    }
  }

  .btn {
    border: none;
    border-radius: 9999px;
    background-color: $primary-color;
    cursor: pointer;
    color: $white-color;
    float: right;
    margin: 20px 0 40px 0;
    padding: 12px 40px;
    text-transform: uppercase;

    @extend %display-blur;

    @include media-mobile {
      width: 100%;
    }
  }
}
