.news {
  line-height: 2;

  article {
    margin-top: 28px;
  }

  .news__title {
    font-size: 1.6rem;

    .news__title-link {
      color: $text-color;
    }
  }

  .news__daytime {
    font-size: 1.4rem;
    list-style: none;

    @include display-flex(row, '', '');
    @include prefix(user-select, none, ms webkit moz);

    @include media-mobile {
      @include display-flex(column, '', '');
    }

    li {
      margin: 0 8px;

      .news__icon {
        color: $primary-color;
        font-size: 1.6rem;
        height: 16px;
        margin-right: 8px;
        width: 16px;
      }
    }
  }

  .news__img--wrap {
    margin-bottom: 16px;
    height: 380px;

    @include media-tablet {
      height: 196px;
    }

    @include media-small-tablet {
      height: 196px;
    }

    @include media-mobile {
      height: 140px;
    }

    .news__img {
      background: {
        position: center -70px;
        size: cover;
        repeat: no-repeat;
      }

      font-size: 1.4rem;
      margin: 20px 0;
      height: 100%;
    }
  }

  .news__content {
    font-size: 1.4rem;
    line-height: 1.6;
  }
}
