.product__detail--header {
  margin: {
    bottom: 20px;
    top: 24px;
  }
}

.img-wrap {
  position: relative;

  .img__main {
    img {
      width: 100%;
    }
  }

  .img__similar-wrap {
    @include display-flex(row, '', '');

    .img__similar {
      margin-right: 4px;

      img {
        cursor: pointer;
        width: 100%;
      }

      &:nth-last-child(2) {
        margin-right: 0;
      }
    }
    .img__similar:hover + .img__similar-hover {
      animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
      display: block;
    }

    .img__similar-hover {
      display: none;
      height: 380px;
      left: 100%;
      position: absolute;
      top: 40%;
      width: 380px;
      z-index: 3;

      img {
        border-radius: 4px;
        width: 100%;
      }
    }
  }
}

.product__header--content {
  font-size: 1.6rem;

  .content__title {
    font-weight: 100;
    text-transform: capitalize;
  }

  .content__star {
    display: block;
    margin: {
      bottom: 18px;
      top: 12px;
    }

    i {
      color: $yellow-color;

      &:not(:first-child) {
        margin-left: 2px;
      }
    }
  }

  .content__price {
    margin-bottom: 18px;

    .content__price--sale {
      color: $red-color;
      font-size: 1.8rem;
      margin-right: 12px;
    }

    .content__price--current {
      font-size: 1.6rem;
      text-decoration: line-through;
    }
  }

  .content__dsc {
    font-size: 1.4rem;
    margin: {
      top: 20px;
      bottom: 20px;
    }
    line-height: 1.6;
    text-align: justify;
  }

  .content__qnt {
    height: 90px;
    max-width: 400px;
    min-width: 320px;

    @include display-flex('', flex-start, center);
  }

  .product__control {
    @include display-flex(row, '', center);

    .item__heart-label {
      cursor: grabbing;
    }

    @include display-none-input(checkbox);

    input:checked ~ .item__heart-label {
      color: $primary-color;
    }
  }
}

.product__same-category {
  margin-bottom: 32px;

  @include product($horizontal: false);
}

.product__header {
  position: relative;

  @include controlCarousel;
}

.product__detail {
  .product__detail-wrap {
    border: {
      bottom: 1px solid $color-separate;
      left: 1px solid $color-separate;
      right: 1px solid $color-separate;
    }
    min-height: 444px;
    padding: 34px;

    @include display-none-input(radio);
  }

  .label-title {
    border-bottom: 1px solid $color-separate;
    cursor: grab;
    display: block;
    font-size: 1.6rem;
    padding: 14px 0;
    text: {
      align: center;
      transform: uppercase;
    }
  }

  p {
    font-size: 1.6rem;
    line-height: 1.6;
  }

  .product__info,
  .product__cmt,
  .product__tag {
    display: none;
  }

  .product__cmt {
    .time {
      font: {
        size: 1.2rem;
        style: italic;
      }
    }

    .cmt {
      text-indent: 16px;
    }
  }

  .product__tag {
    font-size: 1.6rem;
  }

  input:checked ~ .product__info {
    display: block;
  }

  input:checked ~ .product__cmt {
    display: block;
  }

  input:checked ~ .product__tag {
    display: block;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.active {
  border: {
    bottom: none !important;
    left: 1px solid $color-separate;
    right: 1px solid $color-separate;
    top: 3px solid $gray-color;
  }
}
.mx-4 {
  margin-left: -12px !important;
  margin-right: -12px !important;
}
