.product__detail--header {
  margin-top: 24px;
  margin-bottom: 24px;
}

.img-wrap {
  position: relative;
  .img__larger {
    img {
      width: 100%;
    }
  }
  .img__similar-wrap {
    display: flex;
    flex-direction: row;

    .img__similar {
      margin-right: 4px;

      img {
        cursor: pointer;
        width: 100%;
      }

      &:hover ~ .img__similar--hover {
        display: block;
      }
    }

    .img__similar--hover {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--tooltip-img);
      display: none;
      height: 300px;
      top: 0%;
      left: 14px;
      position: absolute;
      width: 300px;

      img {
        width: 100%;
      }
    }
  }
}

.product__header--content {
  font-size: 1.6rem;

  .content__title {
    font-weight: 100;
    text-transform: capitalize;
  }

  .content__star {
    display: block;
    margin-top: 12px;
    margin-bottom: 18px;

    i {
      color: $yellow-color;

      &:not(:first-child) {
        margin-left: 2px;
      }
    }
  }

  .content__price {
    margin-bottom: 18px;

    .content__price--sale {
      color: $red-color;
      font-size: 1.8rem;
      margin-right: 12px;
    }

    .content__price--current {
      font-size: 1.6rem;
      text-decoration: line-through;
    }
  }

  .content__dsc {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
  }

  .content__qnt {
    align-items: center;
    display: flex;
    height: 90px;

    .content__price-label {
      margin-right: 18px;
    }
    .btn {
      @include btn(40px, 40px);
    }

    #input-qnt {
      height: 40px;
      margin-left: 4px;
      margin-right: 4px;
      text-align: center;
      width: 70px;

      &:focus {
        color: $primary-color;
      }
    }
  }

  .product__control {
    display: flex;
    flex-direction: row;

    .btn__buy-now {
      @extend %display-center;

      border: none;
      border-radius: 9999px;
      background-color: $primary-color;
      color: $white-color;
      font-size: 1.4rem;
      height: 44px;
      text-transform: uppercase;
      width: 148px;

      @extend %display-blur;
    }

    .product__control-link {
      color: $text-color;
      text-decoration: none;

      .icon__search {
        margin: 0 12px;

        @extend %display-blur;
      }
    }

    .product__control-icon {
      @extend %display-center;

      border-radius: 9999px;
      background-color: $white-color;
      border: 1px solid $color-separate;
      height: 44px;
      margin-left: 4px;
      width: 44px;
    }

    .item__heart-label {
      cursor: grabbing;
    }

    input[type='checkbox'] {
      display: none;
    }

    input:checked ~ .item__heart-label {
      color: $primary-color;
    }
  }
}

.product__share-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .product__share-wrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }

  .product__share-item {
    margin-right: 14px;
    position: relative;
    width: 70px;

    @extend %display-blur;

    img {
      width: 100%;
    }

    &:hover::before {
      content: '';
      transform: translateY(-50%);
      border-width: 6px 6px;
      border-color: transparent $white-color transparent transparent;
      border-style: solid;
      top: 50%;
      position: absolute;
      right: -22%;
      z-index: 1;
    }
    &:hover::after {
      border-width: 6px 6px;
      border-style: solid;
      border-color: transparent $border-color transparent transparent;
      content: '';
      cursor: pointer;
      position: absolute;
      right: -14px;
      transform: translateY(-50%);
      top: 50%;
    }
    &:hover ~ .product__share-qnt {
      visibility: visible;
    }
  }

  .product__share-qnt {
    height: 24px;
    width: 24px;

    @extend %display-center;

    border: 1px solid $border-color;
    border-radius: 4px;
    font-size: 1.2rem;
    margin-right: 20px;
    visibility: hidden;
  }
}

.product__same-category {
  @include product($horizontal: false);
}

.product__header {
  position: relative;

  @include controlCarousel('laptop');
}

.product__detail {
  .product__detail-wrap {
    border: 1px solid $color-separate;
    min-height: 444px;
    padding: 34px;
  }

  .label-title {
    border-top: 3px solid $gray-color;
    display: block;
    cursor: grab;
    font-size: 1.6rem;
    padding: 14px 0;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    font-size: 1.6rem;
    line-height: 1.6;
  }

  .product__info,
  .product__cmt,
  .product__tag {
    display: none;
  }

  .product__cmt {
    .time {
      font-size: 1.2rem;
      font-style: italic;
    }

    .cmt {
      text-indent: 16px;
    }
  }

  .product__tag {
    font-size: 1.6rem;
  }

  input:checked ~ .product__info {
    display: block;
  }

  input:checked ~ .product__cmt {
    display: block;
  }

  input:checked ~ .product__tag {
    display: block;
  }
}
