.carousel
    input#left(type='radio' name='carousel' )
    input#center(type='radio' name='carousel'  checked)
    input#right(type='radio' name='carousel' )
    .carousel__control 
        label(for='left')
        label(for='center')
        label(for='right')
    .slider
        each slide in slides
            +sliderBanner(slide.headerSub,slide.header,slide.description, "products.html")