input(type="radio", name="close" id="close")

.modal
    label.modal__overlay(for="close")

    .modal__body
        .modal__inner
            .modal__inner-img 
                img(src="./assets/img/modal.png", alt="Image Modal")

            .modal__inner-content 
                h4.modal__content-sub Nhận tin tức từ chúng tôi
                h3.modal__content-header Đăng kí email ngay hôm nay
                
                form.form__register(action="/", method="post")
                    input.form-control(type="email", name="Email", placeholder="Nhập email của bạn vào đây" autofocus)
                    button.register__btn(type="submit")
                        i.fas.fa-paper-plane
                
                p.modal__content-dsc
                    | Đăng kí email ngay hôm nay để nhận các thông tin
                    | về sự kiện <br> và các chương trình giảm giá từ chúng tôi
                
                .modal__notify
                    input(type="checkbox", name="Notify", id="notify-check")
                    label.modal__notify-label(for="notify-check") Không hiện lại thông báo này nữa 

        label.modal__btn--close(for="close")
            i.fas.fa-times.icon.icon--close
