input(type="radio", name="close" id="close")    

.modal
    .modal__overlay

    .modal__body
        .modal__inner 
            .modal__inner-img 
                img(src="./assets/img/modal.png", alt="Image Modal")
            
            .modal__inner-content 
                h4.modal__content--sub Nhận tin tức từ chúng tôi
                h3.modal__content--header Đăng kí email ngay hôm nay
                form(action="/", method="post").form__register
                    input(type="email", name="Email", placeholder="Nhập email của bạn vào đây").form-control
                    button(type="submit").register__btn
                        i.fas.fa-paper-plane
                p.modal__content--dsc 
                    | Đăng kí email ngay hôm nay để nhận các thông tin
                    | về sự kiện <br> và các chương trình giảm giá từ chúng tôi
                .notify 
                    input(type="checkbox", name="Notify", id="notify-check")
                    label(for="notify-check").notify__label Không hiện lại thông báo này nữa 
        
        label(for="close").btn.modal__btn--close
            i.fas.fa-times.icon-close