-
   const productSale = [
        {
            urlImg: 'spx2-15.png',
            type: '50',
            name: 'Cây danh dự',
            star: '2',
            priceSale: '250',
            priceCurrent: '260'
        },
        {
            urlImg: 'spx2-12.png',
            type: '10',
            name: 'Cây dứa nhỏ',
            star: '5',
            priceSale: '250',
            priceCurrent: '260'
        },
        {
            urlImg: 'spx2-11.png',
            type: '20',
            name: 'Cây cọ ta',
            star: '3.5',
            priceSale: '250',
            priceCurrent: '260'
        },
        {
            urlImg: 'spx2-2.png',
            type: '30',
            name: 'Cây dạ lam',
            star: '5',
            priceSale: '250',
            priceCurrent: '260'
        },
        {
            urlImg: 'spx2-8.png',
            type: '15',
            name: 'Cây danh dự',
            star: '5',
            priceSale: '250',
            priceCurrent: '260'
        },
        {
            urlImg: 'spx2-1.png',
            type: '5',
            name: 'Cây dứa nhỏ',
            star: '4.5',
            priceSale: '250',
            priceCurrent: '260'
        }
    ]

-
    const productBuyALot = [
        {
            urlImg: 'spx2-4.png',
            type: '50',
            name: 'Cây chân chim',
            star: '2',
            priceSale: '250',
            priceCurrent: ''
        },
        {
            urlImg: 'spx2-2.png',
            type: '',
            name: 'Cây dạ lam',
            star: '5',
            priceSale: '250',
            priceCurrent: ''
        },
        {
            urlImg: 'spx2-15.png',
            type: '',
            name: 'Cây danh dự',
            star: '3.5',
            priceSale: '250',
            priceCurrent: ''
        },
        {
            urlImg: 'spx2-12.png',
            type: '',
            name: 'Cây đa búp đỏ',
            star: '5',
            priceSale: '250',
            priceCurrent: ''
        },
        {
            urlImg: 'spx2-5.png',
            type: '',
            name: 'Cây cọ ta',
            star: '5',
            priceSale: '250',
            priceCurrent: ''
        },
        {
            urlImg: 'spx2-6.png',
            type: '',
            name: 'Cây dứa nhỏ',
            star: '4.5',
            priceSale: '250',
            priceCurrent: ''
        }
    ]

-
    const productsNew = [
        {
            urlImg: 'spx2-15.png',
            type: '25',
            name: 'Cây danh dự',
            star: '2',
            priceSale: '250',
            priceCurrent: '250'
        },
        {
            urlImg: 'spx2-7.png',
            type: '',
            name: 'Cây xương rồng',
            star: '4.5',
            priceSale: '250',
            priceCurrent: '250'
        },
        {
            urlImg: 'spx2-12.png',
            type: '',
            name: 'Cây dạ lam',
            star: '3.5',
            priceSale: '250',
            priceCurrent: '250'
        },
        {
            urlImg: 'spx2-11.png',
            type: '',
            name: 'Cây dứa nhỏ',
            star: '1',
            priceSale: '250',
            priceCurrent: '250'
        },
        {
            urlImg: 'spx2-1.png',
            type: '',
            name: 'Cây danh dự',
            star: '5',
            priceSale: '680',
            priceCurrent: '250'
        },
        {
            urlImg: 'spx2-5.png',
            type: '',
            name: 'Cây dạ lam',
            star: '4.5',
            priceSale: '880',
            priceCurrent: '250'
        },
        {
            urlImg: 'spx2-2.png',
            type: '',
            name: 'Cây chân chim',
            star: '3',
            priceSale: '750',
            priceCurrent: '250'
        },
        {
            urlImg: 'spx2-14.png',
            type: '',
            name: 'Cây đa búp đỏ',
            star: '4.5',
            priceSale: '150',
            priceCurrent: '250'
        }
    ]

-
    const blog = [
        {
            urlImg: 'news-1.png',
            time: 'Thứ 7, ngày 31, tháng 12, năm 2015',
            title: '15 thiết kế phỏng ngủ tuyệt đẹp làm vạn người mê',
            dsc: 'Cùng Sài Gòn tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng hiện nay nhé! Kết hợp hàng rào'
        },
        {
            urlImg: 'news-2.png',
            time: 'Thứ 7, ngày 31, tháng 12, năm 2015',
            title: 'Tạo tiểu cảnh góc sân cho nhà phố, biệt thự đẹp',
            dsc: 'Khi bước từ ngoài ngỏ vào hay từ trong nhà đi ra, góc sân luôn là điểm nhìn đầu tiên của chúng ta'
        },
        {
            urlImg: 'news-3.png',
            time: 'Thứ 7, ngày 31, tháng 12, năm 2015',
            title: 'Cách bố trí chậu hoa trước cửa ấn tượng',
            dsc: 'Nhưng thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa'
        }
    ]

section.slide
    include ./components/carousel.pug

section.products
    article.products__featured
        .grid.wide 
            .row
                .col.l-12.m-12.c-12 
                    +productHeader('Sản phẩm nổi bật')
                .col.l-6.m-12.c-12.px-0
                    .col.l-12.m-12.c-12
                        +productDisplay('spx2-4.png', 'new','Cây chân chim', 4.5 ,'250', '260')
                    .col.l-12.m-12.c-12
                        .row.mx-0
                            .col.l-6.m-6.c-6
                                +productDisplay('spx2-5.png', '','Cây dạ lam', 5 ,'500', '250')
                            .col.l-6.m-6.c-6
                                +productDisplay('spx2-15.png', '','Cây danh dự', 5 ,'850', '250')
                .col.l-6.m-12.c-12
                    .col.l-12.m-12.c-12
                        .row.mx-0
                            .col.l-6.m-6.c-6.ps-0
                                +productDisplay('spx2-11.png', '','Cây cọ ta', 1.5 ,'150', '250')
                            .col.l-6.m-6.c-6.pe-0
                                +productDisplay('spx2-6.png', '','Cây dứa nhỏ', 5 ,'375', '250')
                    .col.l-12.m-12.c-12.pe-0.ps-0
                        +productDisplay('spx2-3.png', '50','Cây đa búp nhỏ', 5 ,'1.000', '250')

    .grid.wide
        .row
            .col.l-3.m-12.c-12
                .product__header 
                    +productHeader('Sản phẩm mua nhiều')
                    +controlProduct('slide1','slide2')
                article.products__buy-a-lot
                    .col.l-12.m-12.c-0.px-0
                        each product in productBuyALot
                            +productDisplay(product.urlImg,product.type ,product.name, product.star,product.priceSale,product.priceCurrent)
                    +slideMobile('slide1', 'slide2', 'slider-mobile-buy-a-lot', productBuyALot, true)
            .col.l-9.m-12.c-12
                .product__header
                    +productHeader('Sản phẩm khuyến mãi')
                    +controlProduct('slide3','slide4')
                article.products__sale
                    .row.mx-0
                        each product in productSale
                            .col.l-4.m-6.c-0
                                +productDisplay(product.urlImg,product.type ,product.name, product.star,product.priceSale,product.priceCurrent )
                    +slideMobile('slide3', 'slide4', 'slider-mobile-sale', productSale)

    .grid.wide 
        .row
            .col.l-12.m-12.c-12
                .banner__home
                    +banner('./assets/img/banner.png', 'Banner tree')

    article.products__new
        .grid.wide
                .row
                    .col.l-12.m-12.c-12
                        .product__header
                            +productHeader('Sản phẩm mới')
                            +controlProduct('slide5','slide6')
                        +slideMobile('slide5', 'slide6', 'slider-mobile-new', productsNew)
                    each product in productsNew
                        .col.l-3.m-6.c-0
                            +productDisplay(product.urlImg,product.type ,product.name, product.star,product.priceSale,product.priceCurrent)

section.news
    .grid.wide 
        .row 
            .col.l-12.m-12.c-0
                +productHeader('Tin tức')
            each Item in blog
                .col.l-4.m-6.c-0
                    +news(Item.urlImg, Item.time, Item.title, Item.dsc)

//- Modal Layout
include ./components/modal.pug