@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font: {
    family: 'Roboto', sans-serif;
    size: 62.5%;
  }
  line-height: 1.4;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.px-0 {
  padding: {
    left: 0 !important;
    right: 0 !important;
  }
}

.pe-0 {
  padding-right: 0 !important;
}

.ps-0 {
  padding-left: 0 !important;
}
