%form-register-style {
  .form__register {
    @include display-flex(row, '', '');

    @media (max-width: 1023px) {
      margin-top: 18px;
    }

    .form-control {
      border: none;
      font-size: 1.8rem;
      height: 46px;
      padding: 12px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    .register__btn {
      border: none;
      cursor: pointer;

      i {
        background-color: $primary-color;
        color: $white-color;
        font-size: 1.4rem;
        height: 46px;
        width: 46px;

        @include display-flex('', center, center);
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

%animation-zoom {
  &:hover img {
    @include prefix(transform, scale(1.1), ms moz webkit o);
    @include prefix(transition, all 0.3s ease-out, moz webkit o);
  }
}

%feeling-click {
  cursor: pointer;
  opacity: 1;

  @include prefix(transition, all 0.3s ease-out, moz webkit o);

  &:hover {
    opacity: 0.8;

    @include prefix(transform, scale(1.08), ms moz webkit o);
  }
}

%full-screen-abs {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

%display-inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
}
