$red-color: #ee393e;
$dark-light: #434343;
$white-color: #fff;
$black-color: #000;
$yellow-color: #f7bb3f;
$primary-color: #3fb871;
$color-green-dark: #36a66d;
$gray-color: #7d7d7d;

$background-modal: #f1eeeb;
$background-color-dark: #202020;
$background-color-light: #313131;
$background-transparent: rgba(0, 0, 0, 0.4);
$box-shadow: rgba(0, 0, 0, 0.07);

$text-color: #333;
$text-light: #898989;
$text-color-footer: #b7b7b7;

$border-dark: #494949;
$border-color: #2b2b2b;
$color-separate: #ebebeb;
$color-border: #c2c2c2;

$height-header: 146px;
