$white-color: #fff;
$black-color: #000;
$dark-light: #434343;

$primary-color: #3fb871;
$color-green-dark: #36a66d;
$background-color-dark: #202020;
$background-color-light: #313131;
$background-transparent: rgba(0, 0, 0, 0.4);
$background-modal: #f1eeeb;

$text-color: #333;
$text-light: #898989;
$text-color-footer: #b7b7b7;

$border-color: #2b2b2b;
$color__separate: #ebebeb;
$border-dark: #494949;

$height-header: 146px;
