//- Home
-
    const productSale = [
        {
            urlImg: 'spx2-15.png',
            type: '50',
            name: 'Cây danh dự',
            star: '2',
            priceSale: '250',
            priceCurrent: '260'
        },
        {
            urlImg: 'spx2-12.png',
            type: '10',
            name: 'Cây dứa nhỏ',
            star: '5',
            priceSale: '250',
            priceCurrent: '260'
        },
        {
            urlImg: 'spx2-11.png',
            type: '20',
            name: 'Cây cọ ta',
            star: '3.5',
            priceSale: '250',
            priceCurrent: '260'
        },
        {
            urlImg: 'spx2-2.png',
            type: '30',
            name: 'Cây dạ lam',
            star: '5',
            priceSale: '250',
            priceCurrent: '260'
        },
        {
            urlImg: 'spx2-8.png',
            type: '15',
            name: 'Cây danh dự',
            star: '5',
            priceSale: '250',
            priceCurrent: '260'
        },
        {
            urlImg: 'spx2-1.png',
            type: '5',
            name: 'Cây dứa nhỏ',
            star: '4.5',
            priceSale: '250',
            priceCurrent: '260'
        }
    ]

-
    const productBuyALot = [
        {
            urlImg: 'spx2-4.png',
            type: '50',
            name: 'Cây chân chim',
            star: '2',
            priceSale: '250',
            priceCurrent: ''
        },
        {
            urlImg: 'spx2-2.png',
            type: '',
            name: 'Cây dạ lam',
            star: '5',
            priceSale: '250',
            priceCurrent: ''
        },
        {
            urlImg: 'spx2-15.png',
            type: '',
            name: 'Cây danh dự',
            star: '3.5',
            priceSale: '250',
            priceCurrent: ''
        },
        {
            urlImg: 'spx2-12.png',
            type: '',
            name: 'Cây đa búp đỏ',
            star: '5',
            priceSale: '250',
            priceCurrent: ''
        },
        {
            urlImg: 'spx2-5.png',
            type: '',
            name: 'Cây cọ ta',
            star: '5',
            priceSale: '250',
            priceCurrent: ''
        },
        {
            urlImg: 'spx2-6.png',
            type: '',
            name: 'Cây dứa nhỏ',
            star: '4.5',
            priceSale: '250',
            priceCurrent: ''
        }
    ]

-
    const productsNew = [
        {
            urlImg: 'spx2-15.png',
            type: '25',
            name: 'Cây danh dự',
            star: '2',
            priceSale: '250',
            priceCurrent: '250'
        },
        {
            urlImg: 'spx2-7.png',
            type: '',
            name: 'Cây xương rồng',
            star: '4.5',
            priceSale: '250',
            priceCurrent: '250'
        },
        {
            urlImg: 'spx2-12.png',
            type: '',
            name: 'Cây dạ lam',
            star: '3.5',
            priceSale: '250',
            priceCurrent: '250'
        },
        {
            urlImg: 'spx2-11.png',
            type: '',
            name: 'Cây dứa nhỏ',
            star: '1',
            priceSale: '250',
            priceCurrent: '250'
        },
        {
            urlImg: 'spx2-1.png',
            type: '',
            name: 'Cây danh dự',
            star: '5',
            priceSale: '680',
            priceCurrent: '250'
        },
        {
            urlImg: 'spx2-5.png',
            type: '',
            name: 'Cây dạ lam',
            star: '4.5',
            priceSale: '880',
            priceCurrent: '250'
        },
        {
            urlImg: 'spx2-2.png',
            type: '',
            name: 'Cây chân chim',
            star: '3',
            priceSale: '750',
            priceCurrent: '250'
        },
        {
            urlImg: 'spx2-14.png',
            type: '',
            name: 'Cây đa búp đỏ',
            star: '4.5',
            priceSale: '150',
            priceCurrent: '250'
        }
    ]

-
    const blog = [
        {
            urlImg: 'news-1.png',
            time: 'Thứ 7, ngày 31, tháng 12, năm 2015',
            title: '15 thiết kế phỏng ngủ tuyệt đẹp làm vạn người mê',
            dsc: 'Cùng Sài Gòn tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng hiện nay nhé! Kết hợp hàng rào'
        },
        {
            urlImg: 'news-2.png',
            time: 'Thứ 7, ngày 31, tháng 12, năm 2015',
            title: 'Tạo tiểu cảnh góc sân cho nhà phố, biệt thự đẹp',
            dsc: 'Khi bước từ ngoài ngỏ vào hay từ trong nhà đi ra, góc sân luôn là điểm nhìn đầu tiên của chúng ta'
        },
        {
            urlImg: 'news-3.png',
            time: 'Thứ 7, ngày 31, tháng 12, năm 2015',
            title: 'Cách bố trí chậu hoa trước cửa ấn tượng',
            dsc: 'Nhưng thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa'
        }
    ]

//- Slide Home
-
    const slides = [
        {
            headerSub: 'Green Shop 1',
            header: 'Cho thuê cây cảnh tết 2021',
            description: '( Miễn phí vận chuyển với những đơn hàng có giá trị trên 5,000,000đ )'
        },
        {
            headerSub: 'Green Shop 2',
            header: 'Cho thuê cây cảnh tết 2021',
            description: '( Miễn phí vận chuyển với những đơn hàng có giá trị trên 5,000,000đ )'
        },
        {
            headerSub: 'Green Shop 3',
            header: 'Cho thuê cây cảnh tết 2021',
            description: '( Miễn phí vận chuyển với những đơn hàng có giá trị trên 5,000,000đ )'
        }

    ]

//- Product
-
    const products = [
        {
            _id: '1',
            urlImg: 'spx2-15.png',
            type: '25',
            name: 'Cây danh dự',
            star: '2',
            priceSale: '250',
            dsc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu. Đây là món quà bất ngờ để tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến là xanh đốm trắng.',
            priceCurrent: '250'
        },
        {
            _id: '2',
            urlImg: 'spx2-7.png',
            type: '',
            name: 'Cây xương rồng',
            star: '4.5',
            priceSale: '250',
            dsc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu. Đây là món quà bất ngờ để tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến là xanh đốm trắng.',
            priceCurrent: '250'
        },
        {
            _id: '3',
            urlImg: 'spx2-12.png',
            type: '',
            name: 'Cây dạ lam',
            star: '3.5',
            priceSale: '250',
            dsc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu. Đây là món quà bất ngờ để tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến là xanh đốm trắng.',
            priceCurrent: '250'
        },
        {
            _id: '4',
            urlImg: 'spx2-11.png',
            type: '',
            name: 'Cây dứa nhỏ',
            star: '1',
            priceSale: '250',
            dsc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu. Đây là món quà bất ngờ để tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến là xanh đốm trắng.',
            priceCurrent: '250'
        },
        {
            _id: '5',
            urlImg: 'spx2-1.png',
            type: '',
            name: 'Cây danh dự',
            star: '5',
            priceSale: '680',
            dsc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu. Đây là món quà bất ngờ để tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến là xanh đốm trắng.',
            priceCurrent: '250'
        },
        {
            _id: '6',
            urlImg: 'spx2-5.png',
            type: '',
            name: 'Cây dạ lam',
            star: '4.5',
            priceSale: '880',
            dsc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu. Đây là món quà bất ngờ để tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến là xanh đốm trắng.',
            priceCurrent: '250'
        },
        {
            _id: '7',
            urlImg: 'spx2-2.png',
            type: '',
            name: 'Cây chân chim',
            star: '3',
            priceSale: '750',
            dsc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu. Đây là món quà bất ngờ để tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến là xanh đốm trắng.',
            priceCurrent: '250'
        },
        {
            _id: '8',
            urlImg: 'spx2-14.png',
            type: '',
            name: 'Cây đa búp đỏ',
            star: '4.5',
            priceSale: '150',
            dsc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu. Đây là món quà bất ngờ để tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến là xanh đốm trắng.',
            priceCurrent: '250'
        },
        {
            _id: '9',
            urlImg: 'spx2-2.png',
            type: '',
            name: 'Cây chân chim',
            star: '3',
            priceSale: '750',
            dsc: 'Cây Ngọc Ngân là loại cây dành cho tình yêu. Đây là món quà bất ngờ để tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến là xanh đốm trắng.',
            priceCurrent: '250'
        }
    ]
- 
    const pageNumber = [
        {
            name: 'Trang trước',
            _id: 'page-prev'
        },
        {
            name: '1',
            _id: 'page-1'
        },
        {
            name: '2',
            _id: 'page-2'
        },
        {
            name: '3',
            _id: 'page-3'
        },
        {
            name: '4',
            _id: 'page-4'
        },
        {
            name: 'Trang sau',
            _id: 'page-next'
        }
    ]

//- Product detail
-
    const listProduct = [
        {
            _id: 1,
            name: 'Cây dạ lam',
            star: '5',
            priceSale: '4.000',
            priceCurrent: '5.000',
            dsc: 'Cây mọc thành bụi thưa, thân vươn thẳng với chiều cao cây trung bình từ 0.8 - 1.2m. Lá hình trứng, mép lá nguyên, gân lá nổi rõ, phiến lá rộng khoảng từ 15 - 20cm. Lá có màu xanh đậm ở mặt trên, quanh gân lá có màu trắng sữa, mặt dưới lá nhạt màu hơn. Lá cây dạ mọc cách cuống lá dài khi rụng để lại khía màu nâu nhạt.',
            qnt: '15',
            imgMain: 'spx2-15.png',
            imgSimilar: ['spx2-1.png','spx2-2.png','spx2-3.png','spx2-4.png','spx2-5.png'],
            info: [
                {
                    commonName: 'Dạ lam, Huỳnh tinh cảnh, Dong vằn',
                    scienceName: 'Calathea Zebrina',
                    plantFamily: 'Marantaceae (Củ dong)',
                    height: '0.8 - 1.2m',
                    origin: 'Cây dạ lam có nguồn gốc từ Brazil, được du nhập và phân bố rộng khắc ở Việt Nam',
                    detail: 'Cây mọc thành bụi thưa, thân vươn thẳng với chiều cao cây trung bình từ 0,8-1,2m. Lá hình trứng, mép lá nguyên, gân lá nổi rõ, phiến rộng khoảng từ 15-20cm. Lá có màu xanh đậm ở mặt trên, quanh gân lá có màu trắng sữa; mặt dưới lá nhạt màu hơn. Lá cây dạ lam mọc cách, cuống lá dài khi rụng để lại các khía màu nâu nhạt. Cây dạ lam thuộc loại cây chịu bóng bán phần hoặc hoàn toàn, nhu cầu nước tương đối cao. Cây được nhân giống từ tách bụi, cây mọc khỏe, tốc độ sinh trưởng nhanh với sức sống mạnh. Cây dạ lam vuon sai gon hoachau da lam. Đây là loại cây có dáng đẹp, màu lá mướt mát, tươi khỏe, cây rất phù hợp trồng chậu trang trí nội thất-văn phòng. Ngoài ra, cây còn có đặc điểm lọc khí, làm xanh mát môi trường, giúp điều hòa không khí, đặc biệt tốt cho những môi trường thường xuyên sử dụng các loại máy móc tảng nhiệt. Có thể bày cây ở hành lang hay ở giữa sảnh, đặt ở cạnh bàn làm việc hoặc trang trí các góc phòng có diện tích trung bình.'
                }
            ],
            review: [
                {
                    customer: 'Công Đạt',
                    time: '16:40',
                    day: '31/05/2021',
                    cmt: 'Cây đẹp.'
                },
                {
                    customer: 'Đạt',
                    time: '16:45',
                    day: '31/05/2021',
                    cmt: 'Cây xấu.'
                }
            ],
            tag:[
                {
                    nameTag: 'Mai',
                    urlTag: 'mai'
                },
                {
                    nameTag: 'lan',
                    urlTag: 'lan'
                }
            ],
            sameType: [
                {
                    urlImg: 'spx2-15.png',
                    type: '25',
                    name: 'Cây danh dự',
                    star: '2',
                    priceSale: '250',
                    priceCurrent: '250'
                },
                {
                    urlImg: 'spx2-7.png',
                    type: '',
                    name: 'Cây xương rồng',
                    star: '4.5',
                    priceSale: '250',
                    priceCurrent: '250'
                },
                {
                    urlImg: 'spx2-12.png',
                    type: '',
                    name: 'Cây dạ lam',
                    star: '3.5',
                    priceSale: '250',
                    priceCurrent: '250'
                },
                {
                    urlImg: 'spx2-11.png',
                    type: '',
                    name: 'Cây dứa nhỏ',
                    star: '1',
                    priceSale: '250',
                    priceCurrent: '250'
                },
                {
                    urlImg: 'spx2-1.png',
                    type: '',
                    name: 'Cây danh dự',
                    star: '5',
                    priceSale: '680',
                    priceCurrent: '250'
                },
                {
                    urlImg: 'spx2-5.png',
                    type: '',
                    name: 'Cây dạ lam',
                    star: '4.5',
                    priceSale: '880',
                    priceCurrent: '250'
                },
                {
                    urlImg: 'spx2-2.png',
                    type: '',
                    name: 'Cây chân chim',
                    star: '3',
                    priceSale: '750',
                    priceCurrent: '250'
                },
                {
                    urlImg: 'spx2-14.png',
                    type: '',
                    name: 'Cây đa búp đỏ',
                    star: '4.5',
                    priceSale: '150',
                    priceCurrent: '250'
                }
            ]
        }
    ]

//- Sidebar
- 
    const productList = [
        {
            name: 'Cây chậu treo',
            qnt: 10
        },
        {
            name: 'Cây có hoa',
            qnt: 5
        },
        {
            name: 'Cây dây leo',
            qnt: 15
        },
        {
            name: 'Cây để bàn',
            qnt: 10
        },
        {
            name: 'Cây may mắn',
            qnt: 7
        },
        {
            name: 'Cây trang trí',
            qnt: 8
        },
        {
            name: 'Cây nội thất',
            qnt: 9
        }
    ]

- 
    const priceList = [
        {
            priceRange: '200.000 - 400.000 Đ'
        },
        {
            priceRange: '400.000 - 600.000 Đ'

        },
        {
            priceRange: '600.000 - 800.000 Đ'
        },
        {
            priceRange: '800.000 - 1.000.000 Đ'
        },

        {
            priceRange: '1.000.000 - 2.000.000 Đ'
        }
    ]

-
    const colorList = [
        {
            nameColor: 'Xanh cây',
            color: '#98cb4a'
        },
        {
            nameColor: 'Đỏ cam',
            color: '#f76d3c'
        },
        {
            nameColor: 'Tím',
            color: '#913ccd'
        },
        {
            nameColor: 'Xanh trời',
            color: '#5481e6'
        },
        {
            nameColor: 'Vàng',
            color: '#f7d842'
        },

        {
            nameColor: 'Hồng',
            color: '#f15f74'
        }
    ]

//- Cart
-
    cart = [
        {
            urlImg: 'spx2-1.png',
            name: 'Cây văn phòng',
            price: '250',
            qnt: '5'
        },
        {
            urlImg: 'spx2-2.png',
            name: 'Cây dạ lam',
            price: '270',
            qnt: '10'
        },
        {
            urlImg: 'spx2-3.png',
            name: 'Cây xương rồng',
            price: '300',
            qnt: '9'
        }
    ]