//- Header
- 
    const navbarList = [
        {
            name: 'Trang chủ',
            url: 'index.html'
        },
        {
            name: 'Giới thiệu',
            url: 'introduce.html'
        },
        {
            name: 'Sản phẩm',
            url: 'product.html'
        },
        {
            name: 'Sản phẩm mới',
            url: 'new-product.html'
        },
        {
            name: 'Tin tức',
            url: 'new.html'
        },
        {
            name: 'Liên hệ',
            url: 'contact.html'
        }
    ]

- 
    const iconSocial = [
        'fab fa-facebook-f',
        'fab fa-twitter',
        'fab fa-youtube',
        'fab fa-vimeo-v'
        ]

//- Footer
-
    const infoCustomer = [
        'Tài khoản của tôi',
        'Sản phẩm yêu thích',
        'Lịch sử mua hàng',
        'Chính sách dổi trả',
        'Góp ý, khiếu nại'
        ]

-
    const service = [
        'Hệ thống cửa hàng',
        'Hướng dẫn mua hàng',
        'Hướng dẫn thanh toán',
        'Tích điểm đổi quà',
        'Câu hỏi thường gặp'
        ]

-
    const benefits = [
        'Chính sách giao hàng',
        'Chính sách đổi trả sản phẩm',
        'Chính sách bảo hành',
        'Giới thiệu sản phẩm mới',
        'Chính sách trả góp'
        ]

-
    const news = [
        'Tin tức',
        'Khuyễn mãi',
        'Tuyển dụng',
        'Download', 'Tags'
        ]

-
    const other = [
        'Sitemap',
        'Danh mục sản phẩm',
        'Hợp tác',
        'Thông tin liên hệ',
        'Câu hỏi thường gặp'
        ]

-
    const pay = [
        'fab fa-cc-visa',
        'fab fa-cc-mastercard',
        'fab fa-cc-paypal',
        'fab fa-cc-discover'
        ]

//- Product detail
- 
    const iconShare = [
        {
            urlIcon: 'facebook-share-button.png',
            name: 'Facebook',
            url: 'https://www.facebook.com/',
            qnt: 10
        },
        {
            urlIcon: 'twitter-share-button.png',
            name: 'Twitter',
            url: 'https://twitter.com/',
            qnt: 15
        },
        {
            urlIcon: 'google-plus.png',
            name: 'Google-Plus',
            url: 'https://www.google.com.vn/?hl=vi',
            qnt: 20
        },
        {
            urlIcon: 'share.png',
            name: 'Share',
            url: 'https://www.google.com/drive/',
            qnt: 0
        }
    ]
